body {
  font-family: "Roboto", sans-serif;
  background-color: #8db596;
}

.card {
  text-align: center;
  width: 700px;
  height: 600px;
  margin: auto;
  margin-top: 20px;
}

.start-btn {
  font-family: "Texturina", serif;
  background-color: #cfd3ce;
  color: #000;
  font-size: 1.7rem;
  font-weight: 600;
  margin-top: 30px;
  width: 300px;
  height: 50px;
  position: absolute;
  left: 550px;
  top: 490px;
  border: none;
  border-radius: 5px;
}

.start-btn:hover {
  background-color: darkgrey;
}

.heading {
  text-align: center;
  font-size: 4rem;
  font-family: "Texturina", serif;
}

.option-btns {
  width: 400px;
  height: 50px;
  margin: 25px;
  border: none;
  outline: none;
  background-color: #aaaaaa;
  font-size: 1.1rem;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.options-list .option-btns.correct {
  background-color: green;
  margin: 25px;
  border: none;
}

.options-list .option-btns.incorrect {
  background-color: red;
  margin: 25px;
  border: none;
}

.next {
  background-color: #aaaaaa;
  font-size: 1rem;
  outline: none;
  border: none;
  border-radius: 5px;
  height: 40px;
  width: 120px;
  position: absolute;
  bottom: 60px;
  right: 280px;
}

.next:hover {
  background-color: #cfd3ce;
}

.option-btns:hover {
  background-color: #cfd3ce;
}

.options-list {
  margin-top: 30px;
}

.time-bar {
  margin-top: 20px;
  position: relative;
  left: 200px;
  width: 30%;
  height: 10px;
  background: red;
  margin-bottom: 30px;
}

.quiz {
  text-align: center;
  position: absolute;
  left: 300px;
  margin: auto;
  border: 2px solid #000;
  width: 800px;
  background-color: #fff;
  padding-bottom: 20px;
}

.results {
  border: 2px solid #000;
  text-align: center;
  width: 500px;
  height: 250px;
  margin: auto;
  margin-top: 80px;
  background-color: #fff;
  padding-top: 10px;
}

.btns {
  margin: auto;
  position: absolute;
  left: 560px;
  top: 250px;
}

.btns .replay {
  margin: 10px;
  background-color: #aaaaaa;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100px;
  height: 30px;
  font-size: 1rem;
}

.btns .quit {
  margin: 10px;
  background-color: #aaaaaa;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 100px;
  height: 30px;
  font-size: 1rem;
}

img {
  position: absolute;
  left: 500px;
  top: 150px;
}

.totalQuestions {
  position: absolute;
  top: 530px;
  left: 310px;
}
