body {
  font-family: "Raleway", sans-serif;
}

.card {
  text-align: center;
  width: 700px;
  height: 600px;
  margin: auto;
  margin-top: 20px;
}

.start-btn {
  font-size: 1.5rem;
  margin-top: 30px;
  width: 400px;
  height: 50px;
  position: absolute;
  left: 500px;
  background-color: grey;
  border: none;
  border-radius: 5px;
}

.start-btn:hover {
  background-color: lightgray;
}

.heading {
  text-align: center;
  font-size: 4rem;
  font-family: "Roboto", sans-serif;
}

.option-btns {
  width: 400px;
  height: 50px;
  margin: 25px;
  border: none;
  outline: none;
  background-color: grey;
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.options-list .option-btns.correct {
  background-color: green;
  margin: 25px;
  border: none;
}

.options-list .option-btns.incorrect {
  background-color: red;
  margin: 25px;
  border: none;
}

.next {
  height: 40px;
  width: 120px;
  position: absolute;
  bottom: 30px;
  right: 80px;
}

.option-btns:hover {
  background-color: lightgray;
}

.options-list {
  margin-top: 40px;
}

.quiz {
  margin-top: 30px;
  text-align: center;
}

.time-bar {
  margin-top: 20px;
  position: relative;
  left: 200px;
  width: 30%;
  height: 10px;
  background: red;
  margin-bottom: 30px;
}

.quiz {
  position: absolute;
  left: 300px;
  margin: auto;
  border: 2px solid #000;
  width: 800px;
}

.results {
  border: 2px solid #000;
  text-align: center;
  width: 500px;
  height: 300px;
  margin: auto;
}

.btns {
  margin: 10px;
  position: absolute;
  left: 610px;
  top: 250px;
}
.replay {
  margin-right: 10px;
}
